<!-- 
binds the hero.name property to the HTML textbox 
data can flow in both directions: 
from the hero.name property to the textbox, 
and from the textbox back to the hero.name. 
-->
<!-- <div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div> -->

<h2>My Heroes</h2>
<ul class="heroes">
 <!-- //The parentheses around click tell Angular to listen for the <li> element's click event. 
 //When the user clicks in the <li>, 
//Angular executes the onSelect(hero) expression. -->
  <li *ngFor="let hero of heroes"
  [class.selected]="hero === selectedHero"
   (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

